@use "../abstracts" as a;

@media screen and (min-width: 1200px) {
  body {
    h2 {
      font-size: 80px;
    }
    h3 {
      font-size: 65px;
    }
  }

  // HEADER

  .main-header {
    // height: 10vh;
    // padding: 20px;

    #logoCon {
      display: grid;
      opacity: 1;
      transition: a.$tran3;
      img {
        height: 15vh;
        width: 15vh;
        margin: 0 70px;
      }
      a {
        height: fit-content;
        // height: 80px;
        max-width: 100%;
        @include a.flex-row;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: a.$tran3;
        h2 {
          color: a.$fanshaweRed;
        }
      }
    }
    #logoCon.hide {
      padding-bottom: 100px;
      margin-top: -100px;
      opacity: 0;
    }

    #logoMobile {
      display: none;
    }

    #burger-con {
      height: fit-content;
      @include a.flex-row;
      margin-top: 30px;
      opacity: 0;
      transition: a.$tran4;
      #burger-menu {
        @include a.flex-row;
        margin: 0 20px;
        flex-wrap: nowrap;
        list-style: none;
        padding-left: 0;

        .menuItem {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0 solid a.$fanshaweRed;
          font-size: 1px;
          transition: a.$tran4;
        }
      }
    }

    #burger-con.slide-toggle {
      opacity: 1;
      max-width: 100%;
      @include a.flex-row;
      justify-content: center;
      margin-top: -100px;
      transition: a.$tran1;
      #burger-menu {
        @include a.flex-row;

        margin: 20px 0;
        list-style: none;
        padding-left: 0;

        .menuItem {
          color: a.$fanshaweRed;
          margin: 10px;
          padding-right: 10px;
          padding-bottom: 0;
          border-right: 1px solid a.$fanshaweRed;
          border-bottom: none;
          font-size: 20px;
          align-self: center;
          transition: a.$tran2;
        }

        .menuItem:hover {
          color: a.$accentRed;
          border-color: a.$accentRed;
          scale: 1.1;
        }
      }
      // #burger-menu:last-child {
      //   border-right: none;
      // }
    }
  }

  // MAIN

  // hero
  #heroMain {
    height: 100vh;
    align-content: center;
    .numbers-background {
      display: block;
    }
  }

  // portfolios
  .scrollGallery {
    height: 47vh;
    .studentCards {
      height: 10vw;
      width: 15vw;
      margin: 10px;
      border-radius: 25px;
    }
  }

  // client project

  #clientProject {
    .clientProjectImg {
      background-image: url(../images/client_project_desktop.png);
    }
  }
}
