@use "../abstracts" as a;

body {
  background: a.$white;
  // height: 10000px;
  font-family: a.$font1;
  width: max-content;
  .body {
    width: 100vw;
  }
  a {
    text-decoration: none;
  }

  .moreBtn {
    background-color: a.$white;
    border: solid 1px a.$black;
    border-radius: 200px;
    @include a.flex-row;
    padding: 3px;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 60px;

    h4 {
      font-weight: bold;
      font-size: 20px;
      margin: 10px;
      z-index: 2;
    }
    .expandingArrow {
      background-color: a.$fanshaweRed;
      border: none;
      border-radius: 200px;
      height: 50px;
      width: 50px;
      z-index: 1;
      i {
        rotate: -30deg;
        font-size: x-large;
      }
    }
  }
  .moreBtn:hover {
    i h4 {
      position: relative;
      z-index: 2;
    }
    .expandingArrow {
      position: relative;
      right: 136px;
      margin-right: -135px;
      background-color: a.$accentRed;
      height: 50px;
      width: 185px;
      z-index: 1;

      i {
        position: relative;
        left: 68px;
        rotate: -30deg;
        font-size: x-large;
      }
    }
  }
  .secTitle {
    margin: 5vh 0 7vh 0;
    font-size: small;
    font-weight: lighter;
    span {
      font-weight: bold;
    }
  }
}

// HEADER
header {
  max-width: 100vw;
}
.main-header {
  // z-index: 3;
  position: static;
  background: a.$white;
  overflow: hidden;
  height: fit-content;
  max-width: 100vw;
  padding-top: 2%;
  padding-bottom: 2%;
  top: 0;
  align-items: center;
  box-shadow: 0px 15px 15px #00000016;
  // display: block;

  .fa {
    color: a.$fanshaweRed;
    transition: a.$tran2;
  }
  .fa:hover {
    color: a.$accentRed;
    scale: 1.1;
  }

  #logoCon {
    display: none;
  }
  #logoMobile {
    opacity: 1;
    transition: a.$tran3;
    img {
      height: 10vh;
      width: 10vh;
      // border-radius: 100px;
      // background-color: a.$fanshaweRed;
      margin-bottom: 10px;
    }
    a {
      height: fit-content;
      max-width: 100%;
      @include a.flex-column;
      align-items: center;
      h2 {
        color: a.$fanshaweRed;
        font-size: 15px;
        text-align: center;
      }
    }
  }
  #logoMobile.hide {
    padding-bottom: 100px;
    margin-top: -100px;
    opacity: 0;
  }
  #burger-con {
    visibility: collapse;
    height: fit-content;
    @include a.flex-column;
    margin-top: 30px;
    opacity: 0;
    transition: a.$tran4;
    #burger-menu {
      @include a.flex-column;
      margin: 0;
      list-style: none;
      padding-left: 0;

      .menuItem {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0 solid a.$fanshaweRed;
        font-size: 1px;
        transition: a.$tran4;
        color: a.$fanshaweRed;
      }
    }
  }

  #burger-con.slide-toggle {
    visibility: visible;
    opacity: 1;
    max-width: 100%;
    @include a.flex-column;
    justify-content: flex-start;
    margin-top: -100px;
    transition: a.$tran1;
    #burger-menu {
      @include a.flex-column;
      margin: 20px 0;
      list-style: none;
      padding-left: 0;

      .menuItem {
        margin-bottom: 5vh;
        padding-right: 0;
        padding-bottom: 5vh;
        border-bottom: 4px solid a.$fanshaweRed;
        border-right: none;
        font-size: 2vh;
        align-self: flex-start;
        transition: a.$tran2;
      }

      .menuItem:hover {
        color: a.$accentRed;
        border-color: a.$accentRed;
        scale: 1.1;
      }
    }
  }
}

// MAIN

// height: fit-content;
#heroMain {
  justify-items: center;
  text-align: center;
  overflow: hidden;
  position: relative;
  h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 8vh;
    z-index: 2;
    // cursor:none;
    span {
      color: a.$fanshaweRed;
    }
  }
  h3,
  p {
    margin-bottom: 40px;
    text-align: center;
    font-weight: bold;
    z-index: 2;
    span {
      font-weight: bolder;
    }
  }

  //
  .numbers-background {
    display: none;
    // @media screen and (min-width: 1200px){
    //   display: block;
    // }
    overflow: hidden;
    .numbers {
      position: absolute;
      cursor: default;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      /* width: 100%; */
      z-index: 1;
      overflow: hidden;
      left: 0;
      top: 0;
    }

    .numbers span {
      position: relative;
      font-size: 2em;
      font-weight: 900;
      color: rgba(129, 129, 129, 0); /* Transparent white color */
      line-height: 0.9em;
      transition: 1s;
      user-select: none; /* Prevents text selection */
    }

    .numbers span:hover {
      transition: 0s;
      color: rgb(225, 35, 26);
      text-shadow: 0 0 10px rgb(225, 35, 26), 0 0 20px rgb(225, 35, 26),
        0 0 40px rgb(225, 35, 26), 0 0 80px rgb(225, 35, 26),
        0 0 160px rgb(225, 35, 26); /* Fixed typo: added space */
      z-index: 1000;
    }
  }
}

// Shooting Star
.class {
  visibility: hidden;
  overflow: hidden;
}

.circle {
  position: absolute;
  top: 0;
  width: 20px;
  aspect-ratio: 1/1; /* Ensures the circle maintains its shape */
  background: rgb(225, 35, 26);
  box-shadow: 0 0 10px rgb(225, 35, 26), 0 0 20px rgb(225, 35, 26),
    0 0 30px rgb(225, 35, 26), 0 0 50px rgb(225, 35, 26); /* Removed comment */
  border-radius: 50%;
  animation: animate 5s linear forwards;
  // overflow: hidden;
  z-index: 1;
  // overflow: hidden;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.circle::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 25%;
  width: 50%;
  height: 100vh;
  opacity: 0.5; /* Fixed opacity property */
  background: linear-gradient(rgb(225, 35, 26), transparent);
}

#reelSec {
  padding-top: 70px;

  #videoPlaceHolder {
    height: 50vw;
    background-color: a.$fanshaweRed;
    border-radius: 50px;
    margin-bottom: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: a.$white;
    font-size: xxx-large;
  }
}

// Program Section

#wordSliderBG {
  background: linear-gradient(#e2231a, #ffffff);
  height: 80vh;
  z-index: 2;

  #BGwords {
    font-size: 120px;
    text-align: center;
    color: a.$white;
  }
}
#programInfo {
  position: relative;
  background: linear-gradient(#ffffff00, #ffffff);
  height: 100vh;
  bottom: 100vh;
  margin-top: 20vh;
  margin-bottom: -95vh;
  z-index: 1;
  align-items: end;
  .prInfo {
    padding-bottom: 5vh;
    h2 {
      font-size: 20px;
    }
  }
  .infoPics {
    display: flex;
    flex-direction: column;
    margin-right: 0;
    .prInfoPic {
      height: 30vh;
      border-radius: 35px;
    }
  }
}
.scrollGallery {
  overflow-y: scroll;
  height: 66vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  scrollbar-width: none;

  .studentCards {
    height: 28vw;
    width: 28vw;
    margin: 5px;
    border-radius: 25px;
    transition: a.$tran2;
    background-color: a.$redWhite;
    color: a.$fanshaweRed;
    // border-color: a.$fanshaweRed;
    // border: solid 1px;
    align-content: center;
    h3 {
      text-align: center;
    }
  }
  .scrollGallery::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Edge */
  }
  .studentCards:hover {
    scale: 1.1;
    background-color: a.$fanshaweRed;
    color: a.$white;
  }
}
@include a.card-shuffle;
// Reel Section
// plyr.io root
:root {
  --plyr-color-main: red;
  --plyr-control-icon-size: 15px;
  --plyr-control-radius: 20px;
  --plyr-font-family: Helvetica, Arial, sans-serif;
  --plyr-control-spacing: 15px;
  --plyr-video-controls-background: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(171, 7, 7, 0.15)
  );
}
#reel-container {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
  justify-content: center;
  margin-bottom: 35px;

  .reel-txt {
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    font-family: a.$font1;
    z-index: 50;
    // background-color: a.$fanshaweRed;
    // color: a.$white;

    @media screen and (min-width: 1200px) {
      font-size: 30px;
      padding-top: 90px;
    }
  }
  #player-container {
    margin-top: 5rem;
    background-color: transparent;
    z-index: 110;
    position: relative;

    .plyr__video-wrapper {
      margin-top: 1rem;
      background: #000;
      border-radius: 20px;
      width: 80%;
      height: 100%;
      margin: auto;
      border: #ffffff 5px solid;
      overflow: hidden;
      position: relative;
      transition: border-radius 0.7s ease-in-out, width 0.5s ease-in-out;

      @media screen and (min-width: 1200px) {
        border-radius: 50px;
        border: #ffffff 5px solid;
        width: 70%;
      }
    }
    .plyr__video-wrapper.smooth {
      border-radius: 0px;
      width: 100%;
    }
    .plyr--video .plyr__controls {
      visibility: hidden;
    }

    .plyr--video .plyr__controls.show-controls {
      visibility: visible;
    }
  }
  // /* Floating Red Bubbles */

  #bubble {
    position: relative;
    margin-top: -10vh;
    margin-bottom: 2vh;
    height: 350px;
    .bubble {
      background-color: a.$fanshaweRed;
      border-radius: 50%;
      // z-index: -1;
      animation: float 10s infinite ease-in-out;
      opacity: 1;
      transition: background-color 2s ease-in-out, transform 2s ease-in-out,
        top 5s ease-in-out, right 5s ease-in-out;
    }
    /* Animation for Floating Bubbles */
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .bubble-1 {
      // background-color: #0b19d8;
      position: absolute;
      width: 60px;
      height: 60px;
      top: 20%;
      left: -2%;
      animation-delay: 0s;
      @media screen and (min-width: 1200px) {
        top: 5%;
        left: 5%;
      }
    }
    .bubble-2 {
      // background-color: #950dc6;
      position: absolute;
      width: 100px;
      height: 100px;
      top: -70%;
      left: 20%;
      animation-delay: 2s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        left: 5%;
      }
    }
    .bubble-3 {
      // background-color: #f80101;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 30%;
      right: 15%;
      animation-delay: 4s;
    }

    .bubble-4 {
      // background-color: #ff6347;
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: 30%;
      left: 25%;
      animation-delay: 1s;
    }

    .bubble-5 {
      // background-color: #47ffb5;
      position: absolute;
      width: 90px;
      height: 90px;
      top: -80%;
      right: 20%;
      animation-delay: 3s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        right: 5%;
        width: 120px;
        height: 120px;
      }
    }

    .bubble-6 {
      // background-color: #e2db03;
      position: absolute;
      width: 70px;
      height: 70px;
      bottom: 40%;
      left: 40%;
      animation-delay: 5s;
      @media screen and (min-width: 1200px) {
        width: 100px;
        height: 100px;
      }
    }

    .bubble-7 {
      // background-color: #000000;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 60%;
      right: 30%;
      animation-delay: 6s;
    }
  }
  /* Floating Image Boxes */
  .float-img {
    position: absolute;
    z-index: 2;
    animation: floatBoxes 12s infinite ease-in-out;
  }

  .float-img img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    filter: grayscale(1);
    @media screen and (min-width: 768px) {
      width: 120px;
      height: 120px;
    }
    @media screen and (min-width: 1200px) {
      width: 150px;
      height: 150px;
    }
  }
  .float-img img:active {
    filter: grayscale(0);
  }
  .float-img img:hover {
    filter: grayscale(0);
  }

  .box-1 {
    top: 10%;
    right: 70%;
    animation-delay: 2s;
  }

  .box-2 {
    top: 10%;
    left: 70%;
    animation-delay: 0s;
  }

  .box-3 {
    bottom: 25%;
    left: 10%;
    animation-delay: 5s;
  }

  .box-4 {
    top: 60%;
    right: 10%;
    animation-delay: 3s;
  }

  /* Animation for Floating Boxes */
  @keyframes floatBoxes {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
}
// /* Animation for Floating Boxes */
@keyframes floatBoxes {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.reel-btm-txt {
  width: fit-content;
  border: 0.5px solid a.$black;
  border-radius: 20px;
  display: flex;
  z-index: 50;
  justify-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -100px;

  h2 {
    width: 60%;
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    font-family: a.$font1;
    padding: 15px 0px;
    margin-bottom: 5px;
  }
}

// client project

#clientProject {
  height: 100vh;
  align-items: center;
  .clientProjectImg {
    height: 60vh;
    margin-right: -30px;
    border-radius: 50px 0 0 50px;
    background-image: url(../images/client_project_desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;

    // background-clip: fill;
  }
}

// Testimonials Section
#feedback-container {
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  #feedback-head {
    text-align: center;

    .lft-fd-back {
      font-weight: bold;
      font-family: a.$font2;
      text-transform: uppercase;
    }
    .ryt-fd-back {
      font-weight: normal;
      font-family: a.$font2;
      word-spacing: 2px;
    }
  }
  #feed-bck-list {
    display: block;

    .fd-align {
      text-align: right;
    }
    .feed-bk {
      img {
        margin-top: 15px;
        border-radius: 50%;
        border: solid 1px a.$black;
        width: 70px;
        height: 70px;
      }
      .fd-bk-name {
        font-size: 32px;
        font-weight: bold;
        font-family: a.$font2;
        text-transform: uppercase;
      }
      .fd-para {
        margin-top: -5px;
        width: 80%;
        font-size: 15px;
        font-family: a.$font2;
      }
      .feed-ryt-wall {
        text-align: right;
      }
      .fd-user {
        font-size: 20px;
        font-family: a.$font1;
        margin-bottom: 20px;
      }
    }
  }
  // bubbles2
  #bubbles2 {
    position: absolute;
    margin-top: -10vh;
    height: 36vh;
    width: 50%;
    z-index: -1;
    left: 30%;
    .bubble {
      background-color: a.$fanshaweRed;
      // background-color: aqua;
      border-radius: 50%;
      // z-index: -1;
      animation: float 10s infinite ease-in-out;
      opacity: 1;
      transition: background-color 2s ease-in-out, transform 2s ease-in-out,
        top 5s ease-in-out, right 5s ease-in-out;
    }
    /* Animation for Floating Bubbles */
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .bubble-1 {
      // background-color: #0b19d8;
      position: absolute;
      width: 60px;
      height: 60px;
      // top: 20%;
      left: -55%;
      animation-delay: 0s;
      @media screen and (min-width: 1200px) {
        top: 5%;
        left: 5%;
      }
    }
    .bubble-2 {
      // background-color: #950dc6;
      position: absolute;
      width: 100px;
      height: 100px;
      top: -70%;
      left: 50%;
      animation-delay: 2s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        left: 5%;
      }
    }
    .bubble-3 {
      // background-color: #f80101;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 70vh;
      right: 56vw;
      animation-delay: 4s;
      @media screen and (min-width: 768px) {
        top: 0vh;
        right: -15vw;
      }
    }

    .bubble-4 {
      // background-color: tomato;
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: -10vh;
      left: -25vw;
      animation-delay: 1s;
    }

    .bubble-5 {
      // background-color: #47ffb5;
      position: absolute;
      width: 90px;
      height: 90px;
      top: -80%;
      right: 55vw;
      animation-delay: 3s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        right: 5%;
        width: 120px;
        height: 120px;
      }
    }

    .bubble-6 {
      // background-color: #e2db03;
      position: absolute;
      width: 70px;
      height: 70px;
      bottom: 20%;
      left: 32vw;
      animation-delay: 5s;
      animation-delay: 5s;
      @media screen and (min-width: 1200px) {
        width: 100px;
        height: 100px;
      }
    }

    .bubble-7 {
      // background-color: #000000;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 84vh;
      right: -2vw;
      animation-delay: 6s;
      @media screen and (min-width: 768px) {
        top: 84vh;
        right: -2vw;
      }
    }
  }
}
// Developers Section
#dev-on-site {
  align-items: center;
  justify-content: center;
  #dev-head {
    text-align: center;

    .lft-dev {
      font-weight: bold;
      font-family: a.$font2;
      text-transform: uppercase;
    }
    .ryt-dev {
      font-weight: normal;
      font-family: a.$font2;
      word-spacing: 2px;
    }
  }
  #dev-list {
    display: block;

    .dev-img {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
    .dev-img img {
      width: 250px;
      height: 250px;
      border-radius: 50%;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 15px;
    }
    .dev-name {
      font-size: 32px;
      font-weight: bolder;
      font-family: a.$font2;
    }
    .dev-title {
      font-family: a.$font1;
      margin-top: -10px;
    }
  }
  // bubbles2
  #bubbles {
    position: absolute;
    margin-top: -10vh;
    height: 36vh;
    width: 50%;
    z-index: -1;
    left: 30%;
    .bubble {
      background-color: a.$fanshaweRed;
      // background-color: aqua;
      border-radius: 50%;
      // z-index: -1;
      animation: float 10s infinite ease-in-out;
      opacity: 1;
      transition: background-color 2s ease-in-out, transform 2s ease-in-out,
        top 5s ease-in-out, right 5s ease-in-out;
    }
    /* Animation for Floating Bubbles */
    @keyframes float {
      0% {
        transform: translateY(0);
      }
      50% {
        transform: translateY(-30px);
      }
      100% {
        transform: translateY(0);
      }
    }

    .bubble-1 {
      // background-color: #0b19d8;
      position: absolute;
      width: 60px;
      height: 60px;
      // top: 20%;
      left: -55%;
      animation-delay: 0s;
      @media screen and (min-width: 1200px) {
        top: 5%;
        left: 5%;
      }
    }
    .bubble-2 {
      // background-color: #950dc6;
      position: absolute;
      width: 100px;
      height: 100px;
      top: -70%;
      left: 50%;
      animation-delay: 2s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        left: 5%;
      }
    }
    .bubble-3 {
      // background-color: #f80101;
      position: absolute;
      width: 80px;
      height: 80px;
      top: 70vh;
      right: 56vw;
      animation-delay: 4s;
      @media screen and (min-width: 768px) {
        top: 5vh;
        right: 26vw;
      }
    }

    .bubble-4 {
      // background-color: tomato;
      position: absolute;
      width: 50px;
      height: 50px;
      bottom: -10vh;
      left: -25vw;
      animation-delay: 1s;
    }

    .bubble-5 {
      // background-color: #47ffb5;
      position: absolute;
      width: 90px;
      height: 90px;
      top: -80%;
      right: 55vw;
      animation-delay: 3s;

      @media screen and (min-width: 1200px) {
        top: -155%;
        right: 5%;
        width: 120px;
        height: 120px;
      }
    }

    .bubble-6 {
      // background-color: #e2db03;
      position: absolute;
      width: 70px;
      height: 70px;
      bottom: 20%;
      left: 32vw;
      animation-delay: 5s;
      animation-delay: 5s;
      @media screen and (min-width768px) {
        bottom: 30vh;
        left: 52vw;
      }
      @media screen and (min-width: 1200px) {
        width: 100px;
        height: 100px;
      }
    }

    .bubble-7 {
      // background-color: #000;
      position: absolute;
      width: 50px;
      height: 50px;
      top: 84vh;
      right: -2vw;
      animation-delay: 6s;
      @media screen and (min-width: 768px) {
        // background-color: #000000;
        top: 34vh;
        right: 3vw;
      }
    }
  }
}

// FOOTER
#main-footer {
  justify-self: center;
  margin-top: 15px;
  background-color: a.$fanshaweRed;
  color: a.$white;
  font-family: a.$font2;
  img {
    margin: 3vh 0;
    width: 15vh;
    height: 15vh;
  }
  #baner-logo {
    background-color: a.$fanshaweRed;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #media-logos {
    display: flex;
    margin: 10vh 0;
    padding: 20px 0;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .footer-3-logo {
      width: fit-content;
      height: fit-content;
      background-color: a.$fanshaweRed;
      border: solid 2px a.$fanshaweRed;
      border-radius: 100px;
    }
    img {
      // display: flex;
      width: 50px;
      height: 50px;
      align-content: center;
      justify-content: center;
    }
  }
  .fnsh-logo {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 10vh;
    img {
      width: 100px;
      height: 100px;
    }
  }

  #footer-links {
    // padding: 20px;
    text-align: center;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      display: block;
      justify-content: center;
      gap: 5px;
      li {
        color: #ffffff;
        font-size: 14px;
        font-family: a.$font2;
        cursor: pointer;
        margin: 10px;
      }
    }
  }

  p {
    padding: 20px 0;
    text-align: center;
  }
}
