@use "../abstracts" as a;

@media screen and (min-width: 768px) {
  // HEADER
  .main-header {
    height: fit-content;

    #burger-con {
      height: fit-content;
      @include a.flex-column;

      margin-top: 30px;
      opacity: 0;
      transition: a.$tran4;

      #burger-menu {
        @include a.flex-row;

        flex-wrap: nowrap;
        margin: 0;
        list-style: none;
        padding-left: 0;

        .menuItem {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: 0 solid a.$fanshaweRed;
          font-size: 1px;
          transition: a.$tran4;
        }
      }
    }

    #burger-con.slide-toggle {
      opacity: 1;
      max-width: 100%;
      @include a.flex-column;

      justify-content: flex-start;
      margin-top: -100px;
      transition: a.$tran1;

      #burger-menu {
        @include a.flex-row;

        flex-wrap: wrap;
        justify-content: space-evenly;
        margin: 20px 0;
        list-style: none;
        padding-left: 0;
      }
    }
  }

  // MAIN

  // hero
  #heroMain {
    height: 77vh;
  }
  // Reel Section
  #reel-container {
    .reel-txt {
      width: 95%;
      justify-self: center;
      line-height: 30px;
      padding-top: 90px;
      font-size: 25px;
    }
  }
  #player-container {
    .plyr__video-wrapper {
      margin-top: 3rem;
      border-radius: 40px;
      width: 70%;
      border: #ffffff 5px solid;
    }
  }
  .bubble-2 {
    top: -135%;
  }
  .bubble-5 {
    top: -125%;
  }

  // /* Floating Image Boxes */
  .float-img img {
    width: 120px;
    height: 120px;
  }
  .box-1 {
    top: 5%;
  }
  .box-2 {
    top: 5%;
  }
  .box-3 {
    bottom: 15%;
  }
  .box-4 {
    top: 75%;
  }
  // /* Animation for Floating Boxes */
  .reel-btm-txt {
    h2 {
      font-size: 20px;
      line-height: 30px;
    }
  }

  // Program Section

  #wordSliderBG {
    height: 100vh;
    // #BGwords {}
  }
  #programInfo {
    bottom: 100vh;
    margin-top: 0;
    .prInfo {
      h2 {
        font-size: 40px;
      }
    }
    .infoPics {
      display: flex;
      flex-direction: row;
      margin-right: -100vw;
      margin-bottom: 40px;
      .prInfoPic {
        width: 20vw;
      }
      .prInfoPic:first-child {
        margin-right: 30px;
      }
    }
  }

  // Testimonials Section
  #feedback-container {
    #feedback-head {
      text-align: left;
    }
    #feed-bck-list {
      .feed-ryt-wall {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
      }
      .feed-bk {
        .fd-bk-name {
          font-size: 22px;
        }
        .fd-para {
          width: 50%;
          font-size: 23px;
        }
      }
    }
  }
  // Developers Section
  #dev-on-site {
    #dev-head {
      text-align: left;
    }
    #dev-list {
      display: flex;
      justify-content: center;
      .dev-img img {
        width: 200px;
        height: 200px;
      }
      .dev-name {
        font-size: 22px;
      }
    }
  }

  // FOOTER
  footer {
    #footer-logo {
      width: 55%;
    }
    p {
      font-size: 12px;
    }
  }
}
